*
{    
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;    
    color: purple;
}

#inscripcion-form{
    width: 50vw;
    margin-left: calc(25% - 5vw);
    /*margin-left: 25vw;    
    margin-right: 25vw; */
    margin-right: calc(25% - 5vw);
}

#inscripcion-form li {
    margin:10px; 
    list-style: none;
}

#inscripcion-form textarea {    
    text-align: left;
}

.filefoto{
    border: solid 1px;
    padding: 1rem;  
    width: 41vw;
}

#interes{
    width: 41vw;
}

fieldset{
    border: 1px solid silver;
    margin: 0 2px;
    padding: 1em 0.625em 2em;
    margin-top: 20px;
}

legend{
    font-weight: bold;
    font-size: large;
}

ul{
    margin-top: 0;
    margin-bottom: 10px;
}

.dato{
    width: 33.33333333%;
}

li{
    margin: 10px;
    list-style: none;
}

label{
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
    font-weight: 700;
}

input, select{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 3em;
    width: 20vw;
}

.titulo{
    font-size: 3em!important;
    margin: 50px;
    text-align: center;
    font-weight: bold;
}

h5{
    font-size: 0.9em!important;
    font-weight: 100;
}

.obligt{
    margin-bottom: 50px;
    text-align: center;
    color: red;
}

.obligb{
    margin-bottom: 0px;
    text-align: center;
    color: red;
}

.columna{            
    padding: 10px 0px; /*  arriba y abajo, 10px, izq y dcha 0 de padding */        
    float: left;
    position: relative;
    width: 45%;    
    height: auto;    
    margin-left: 25px;
}

.columnap{                
    /*width: 100%;*/
    width: calc(100% - 5vw);
}

#talleres, .opcion{
    height: auto!important;
}

.opcion{
    width: auto;    
}

.lopcion{
    display: inline;
    font-weight: 100;
}

.doption{
    margin-bottom: 10px;
}

.coption{
    margin-top: 30px;
    margin-bottom: 20px;
}

.boption{
    margin-bottom: 10px;
    width: auto;
    background-color: darkorange;
    border-color: darkorange;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
}

.avisos{
    border-bottom: 1px dotted #9999CC;
    text-decoration: none;
}

abbr {
    text-decoration:none;
    color: red;
}

@media (max-width:970px) {
    .titulo{
        font-size: 2em!important;
        margin: 30px;
   }
}

@media (max-width: 1760px) {    
    .titulo{
        font-size: 2.5em!important;
        margin: 40px;
   } 
}

@media (max-width: 1500px) {
   .titulo{
        font-size: 2em!important;
        margin: 30px;
   }    

   ul{
        padding-left: 0;    
    }
}

@media (max-width: 1200px) {
    .columna {
        float: none;
        margin-left: 25px;
    }    
    input, select{
        width: 50vw;
    }
    #inscripcion-form{    
        width: 60vw;
    }        
    ul{
        padding-left: 0;
    }
  
}

@media (max-width: 1078px) {
    *{
       /* background-color:chartreuse;*/
        font-size: 17px;
    }
    #inscripcion-form{
        width: 75vw;
        margin-left: calc(20% - 5vw);        
        margin-right: calc(20% - 5vw);
    }
    
    input, select{
        width: 60vw;
    }
    .filefoto {          
        width: 57vw;
    }
    #interes {          
        width: 62vw;
    }
}

@media (max-width: 799px) {
    #inscripcion-form {
        margin-left: 35px;
        width: 90%;
    } 
    .columna{
        margin-left: 25px;
    }
    .columnap{
        width: 90%;
    }
    .titulo{
        font-size: 1.3em!important;
        margin: 20px;
    }    
    ul{
        padding-left: 0;
    }
    .oblig{
        margin: calc(10% - 5vw);        
    }
    input, select{
        width: 70vw;
        height: 8vw;
    }    
    #inscripcion-form li {
        margin:0px;         
    }
    .filefoto {          
        width: 70vw;
    }
    #interes {          
        width: 75vw;
    }
}

@media (max-width: 420px) {
    *{
        /*background-color:yellow;*/
        font-size: 12px;
    }
    #inscripcion-form {
        margin-left: 15px;
        width: 90%;
    } 
    .columna{
        margin-left: 10px;
    }
    .columnap{
        width: 90%;
    }
    .titulo{
        font-size: 1.3em!important;
        margin: 20px;
    }    
    ul{
        padding-left: 0;
    }
    .oblig{
        margin: calc(10% - 5vw);        
    }
    input, select{
        width: 70vw;
        height: 8vw;
    }    
    #inscripcion-form li {
        margin:0px;         
    }
    .filefoto {          
        width: 63vw;
    }
    #interes {          
        width: 68vw;
    }
    .boption{
        padding: 5px;
    }
    label{
        font-weight: 500;
        margin-bottom: 10px;
    }
    .doption{
        width: max-content;
    }    
}

@media (max-width: 428px) {    
    #inscripcion-form {
        margin-left: 10px; 
    }     
}